apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: my-org
      defaultBucket: egx_market_data
      tlsSkipVerify: true
    secureJsonData:
      token: my-super-secret-auth-token
