# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
dist/
build/

# Logs
*.log

# Data files (raw extracts)
**/raw/*.json
**/raw/*.csv
**/raw/*.parquet
**/raw/*.txt
!**/raw/.gitkeep

# Environments & secrets
.env
.env.*
!.env.example
.venv/
.venv-aws/
TEAM_CREDENTIALS.txt
*.credentials.txt

# dbt
target/
dbt_packages/

# Airflow
airflow/**/logs/
airflow/airflow.db
airflow/airflow-webserver.pid

# Spark
*.crc
spark-warehouse/

# Docker
*.pid

# OS/IDE
.DS_Store
.vscode/
.idea/
