version: "3.9"

x-airflow-common: &airflow-common
    build:
        context: ../..
        dockerfile: infrastructure/docker/dockerfile.airflow
    environment: &airflow-common-env
        AIRFLOW__CORE__EXECUTOR: LocalExecutor
        AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
        AIRFLOW__CORE__FERNET_KEY: ""
        AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "true"
        AIRFLOW__CORE__LOAD_EXAMPLES: "false"
        AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
        AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: "true"
        AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
        AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
        AWS_DEFAULT_REGION: ${AWS_REGION:-us-east-1}
    volumes:
        - ../../airflow/dags:/opt/airflow/dags
        - ../../airflow/logs:/opt/airflow/logs
        - ../../airflow/plugins:/opt/airflow/plugins
        - ../../airflow/src:/opt/workspace
    networks:
        - de-network

services:

    postgres:
        image: postgres:15
        container_name: postgres
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - EGX_market:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
                ]
            interval: 5s
            timeout: 5s
            retries: 5
        restart: always
        networks:
            - de-network

    spark-master:
        build:
            context: ../..
            dockerfile: infrastructure/docker/dockerfile.spark
        container_name: spark-master
        environment:
            - SPARK_MODE=master
            - SPARK_MASTER_HOST=spark-master
        command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host 0.0.0.0 --port 7077
        ports:
            - "7077:7077"
            - "8080:8080"
        networks:
            - de-network

    spark-worker:
        build:
            context: ../..
            dockerfile: infrastructure/docker/dockerfile.spark
        container_name: spark-worker
        environment:
            - SPARK_MODE=worker
            - SPARK_MASTER=spark://spark-master:7077
        depends_on:
            - spark-master
        command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
        ports:
            - "8090:8090"
        networks:
            - de-network

    airflow-init:
        <<: *airflow-common
        container_name: airflow-init
        command: >
            bash -c "
            airflow db migrate &&
            airflow connections create-default-connections &&
            airflow users create --username admin --password admin --firstname Airflow --lastname Admin --role Admin --email admin@example.com || true
            "
        depends_on:
            postgres:
                condition: service_healthy

    airflow:
        <<: *airflow-common
        container_name: airflow
        ports:
            - "8081:8080"
        healthcheck:
            test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
            interval: 30s
            timeout: 10s
            retries: 5
            start_period: 30s
        command: bash -c "exec airflow webserver"
        depends_on:
            airflow-init:
                condition: service_completed_successfully

    airflow-scheduler:
        <<: *airflow-common
        container_name: airflow-scheduler
        command: bash -c "exec airflow scheduler"
        depends_on:
            airflow-init:
                condition: service_completed_successfully

    jupyter:
        # image: jupyter/pyspark-notebook:spark-3.3.2
        build:
            context: ../..
            dockerfile: infrastructure/docker/dockerfile.jupyter
        container_name: jupyter
        user: root
        environment:
            - JUPYTER_TOKEN=admin
            - SPARK_MASTER=spark://spark-master:7077
            # - SPARK_HOME=/usr/local/spark
            - SPARK_DRIVER_BIND_ADDRESS=0.0.0.0
            - PYSPARK_SUBMIT_ARGS=--conf spark.driver.bindAddress=0.0.0.0 --master spark://spark-master:7077 pyspark-shell
            - SPARK_DRIVER_HOST=jupyter
        ports:
            - "8888:8888"
        volumes:
            - ../../scripts:/home/jovyan/scripts
            # - ./data/raw:/raw_mount
        depends_on:
            - spark-master
        networks:
            - de-network

    zookeeper:
        image: confluentinc/cp-zookeeper:7.5.0
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - "2181:2181"
        networks:
            - de-network

    kafka:
        image: confluentinc/cp-kafka:7.5.0
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9093
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        ports:
            - "9093:9093"
        depends_on:
            - zookeeper
        networks:
            - de-network

    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        container_name: kafka-ui
        depends_on:
            - kafka
            - zookeeper
        ports:
            - "8082:8080"
        environment:
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
            KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
        networks:
            - de-network

    influxdb:
        image: influxdb:2.7
        container_name: influxdb
        ports:
            - "8086:8086"
        environment:
            DOCKER_INFLUXDB_INIT_MODE: setup
            DOCKER_INFLUXDB_INIT_USERNAME: admin
            DOCKER_INFLUXDB_INIT_PASSWORD: admin123456
            DOCKER_INFLUXDB_INIT_ORG: egx
            DOCKER_INFLUXDB_INIT_BUCKET: market_data
            DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: egx-market-data-token-2025
        volumes:
            - influxdb_data:/var/lib/influxdb2
        networks:
            - de-network

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        depends_on:
            - influxdb
        ports:
            - "3000:3000"
        environment:
            GF_SECURITY_ADMIN_USER: admin
            GF_SECURITY_ADMIN_PASSWORD: admin
            GF_INSTALL_PLUGINS: ""
        volumes:
            - grafana_data:/var/lib/grafana
            - ./grafana/provisioning:/etc/grafana/provisioning
        networks:
            - de-network


networks:
    de-network:
        driver: bridge

volumes:
    EGX_market:
    influxdb_data:
    grafana_data:
